/* Navbar */
.navbar {
    background-color: #060a0e;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar ul li {
    margin: 0;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  /* Footer */
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #060a0e;
    color: #fff;
  }
  