* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  background-color: black;
}


/* ================= SIDEBAR ==================== */

.sidebar {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 100vh;
  background-color: #080808;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.5s ease;
}

.sidebar:hover {
  width: 250px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar ul li {
  padding: 20px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar ul li a i {
  font-size: 24px;
  margin-right: 10px;
}

.sidebar ul li a .sidebar-text {
  display: none;
}

.sidebar:hover ul li a .sidebar-text {
  display: inline-block;
}

.textList {
  transition: all .3s ease;
}

.textList:hover {
  padding: 8px;
  background: rgb(22, 22, 22);
  border-radius: 10px;
}

.main-content {
  justify-self: center;
  text-align: center;
  margin-left: 60px;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s ease;
}

.main-content, h1 {
  margin-bottom: 40px;
}


.sidebar:hover + .main-content {
  margin-left: 250px;
}

/* ================== CARDS =================== */

.cards {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 50px;
}

.card {
  background-color: #080808;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  padding-bottom: 10px;
}

.card, h3 {
  margin-bottom: 15px;
}

.card, p {
  margin-bottom: 15px;
}

.card, button {
  margin-bottom: 15px;
}

button {
  padding: 10px;
  background-color: rgb(20, 175, 20);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgb(16, 145, 16);
}