/* layout.css */
.sidebar {
  width: 220px;
  background-color: var(--secondary-color);
  position: fixed;
  height: 100%;
  overflow: auto;
  color: var(--text-color);
  padding-top: 20px;
}

.sidebar a {
  padding: 15px;
  text-decoration: none;
  color: inherit;
  display: block;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #34495e;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/* Melhorando a organização do topo */
.topbar {
  background-color: var(--primary-color);
  padding: 15px;
  color: var(--text-color);
}
